#black-and-white {
        padding-top: 5rem;
        padding-bottom: 5rem;
        position: relative;
        z-index: -2;
    
       .section-black-and-white {

        .boxes {
            display: flex;

            .box-black {
                background-color: $gray-900;
                width: 50%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1; 
            }

            .box-white {
                background-color: white;
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
            }
        }    

        .container {
            align-items: center;

            .heading {
                display: flex;
                justify-content: center;
                gap: 2rem;
                
                .first {
                    color: #fff !important;
                    width: 100%;
                    text-align: end;
                    @include h5;
                    @include lg {
                        @include h1;
                    }
                }

                .second {
                    width: 100%;
                    text-align: start;
                    @include h5;
                    @include lg {
                        @include h1;
                    }
                }
                             
               
            }
        .bg-image {
            display: flex;
            justify-content: center;
            padding-top: 3rem;

            img {
                width: 100%;
                height: 100%;
            }
         

            }
        }
    }
}    