@inject SignInManager<UserEntity> _signInManager

<header class="@((ViewContext.RouteData.Values["Action"]!.ToString() == "Contact") ? "contact" : "standard")">
    <div class="container">
        <a href="/" id="logo">
            <img src="~/images/silicon-logo.svg" alt="Silicon">
        </a>

        <div id="menu">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
                }

            </nav>
        </div>


        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">

            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="LogOut" class="btn-theme"><i class="fa-regular fa-arrow-right-from-bracket"></i>Log Out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>

        <div class="btn-mobile">
            <button class="btn" id="mobile-menu-btn" aria-controls="btn-switch"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>

    <div id="mobile-menu" class="open" aria-expanded="false">

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch" />
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">

            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Account" asp-action="LogOut" class="btn-theme"><i class="fa-regular fa-arrow-right-from-bracket"></i>Log Out</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-gray"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
            }

            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="benefits">Features</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
                }
            </nav>

        </div>
    </div>
</header>