<section id="black-and-white">
    <div class="section-black-and-white">
        <div class="container">
            <div class="heading">
                <h1 class="first">Switch Between</h1>
                <h1 class="second gray-900">Light & Dark Mode</h1>
            </div>
            <div class="bg-image">
                <img src="images/MacBook-pro-all.svg" alt="computer dark mode" id="image">                
            </div>
    
        </div>
        <div class="boxes">
            <div class="box-black"></div>
            <div class="box-white"></div>
        </div>
    </div>
</section>


