<section id="tools">
    <div class="section-tools">
        <div class="container">
            <h1>Integrate Top Work Tools</h1>
            <p class="gray-600 text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>

            <div class="tools-grid">

                <div class="tools-box">
                    <img src="/images/tools-1.svg" alt="tools image 1">
                    <p class="gray-700 text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-2.svg" alt="tools image 2">
                    <p class="gray-700 text-m">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-3.svg" alt="tools image 3">
                    <p class="gray-700 text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-4.svg" alt="tools image 4">
                    <p class="gray-700 text-m">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-5.svg" alt="tools image 5">
                    <p class="gray-700 text-m">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-6.svg" alt="tools image 6">
                    <p class="gray-700 text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-7.svg" alt="tools image 7">
                    <p class="gray-700 text-m">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>

                </div>

                <div class="tools-box">
                    <img src="/images/tools-8.svg" alt="tools image 8">
                    <p class="gray-700 text-m">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>

                </div>
            </div>
        </div>
    </div>
</section>